
@{
    ViewBag.Title = "Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background: url(../Images/hands_trans.png) no-repeat center center fixed;
        background-size: cover;
    }

</style>


<div class="jumbotron">
    <h2>Account Pending</h2>
    <p>Your account has been created successsfully, but your Social Worker needs to approve it, before you can use it.</p>
</div>